@import 'src/styles/theme';


.room {
  padding: 0 20px;
}

.roominfobackground{
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255,200,200,0.2);
  padding: 10px 6em 20px;
  border-radius: 10px;
}
