@import 'src/styles/theme';

.room {
  padding: 0 20px;
}

.roominfobackground{
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(255,200,200,0.2);
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}
