@import 'src/styles/theme';

.room-div {
  padding: 0 20px;
}

.Button {
  padding: 20px;
}

.room-player-div {

  width: 100%;
  display: block;
  flex-direction: column;
  background-color: #620606;
  color: white;
  border-radius: 2em;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: space-around;
  text-align: center;
  margin: 20px auto;
  min-height: 150px;
  max-height: 400px;
}

.room-individual-player {
  text-align: left;
  background-color: #8e0202;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0.5em;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: $borderRadius;
}
.room-info-background{
  overflow: hidden;
  padding: 10px 2em 10px 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,200,200,0.2);
  border-radius: 10px;
}

