.Box {
    margin-right: auto;
    margin-left: auto;

    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #FBF7F7;
    color: grey;
    border: 5px solid;
    border-color: #8E0202;
    border-Radius: 1em;
    text-Align: center;
    font-Size: 0.875rem;
    font-Weight: 700;
}