.Box {
    margin-right: 'auto';
    margin-left: 'auto';
    width: 400;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: rgb(169, 228, 255);
    color: 'grey.800';
    border: '1px solid';
    border-color: 'grey.300';
    border-Radius: 1em;
    text-Align: 'center';
    font-Size: '0.875rem';
    font-Weight: '700';
}