@import "src/styles/theme";

.button {
  &:hover {
    transform: translateY(-2px) scale(101%);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }

  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  height: 35px;
  border: black;

  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $textColor;
  background-color: darkblue;
  transition: all 0.3s ease;
}
