@import '../theme';
.div-box{ //stlye for the "mother div" of the register page
  overflow: hidden;
  bottom: 0;
  height: calc(100vh);
}

.div-lobby{ //stlye for the "mother div" of the register page
  overflow: hidden;
  width: 100%;
  bottom: 0;
  height: calc(99vh);

}

.div-tableplayed{
  position: absolute;
  left: 1000px;
  top: 60%;

  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 5px;
  color: $textColor;
  background-color: #620606;
  border-radius: 2em;
  opacity: 0.9;
  z-index: 100;
}

.div-scoreannounce{
  display: flex;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  width: 300px;
  opacity: 0.9;
  z-index: 200;
}


.div-bottomleft {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;            //Properties of the parent (flex container
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5px;
  padding-right: 5px;
  color: $textColor;
  background-color: #620606;
  border-radius: 2em;
  opacity: 0.9;
}
.div-rooms{
  display: block;
  justify-content: center;
  align-items: center;
  clear:both;
  text-align: center;

}


.div-players{
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: #620606;
  max-width: $DESKTOP_WIDTH;
  color: $textColor;
  border-radius: 2em;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: auto; //Necessary to put container in middle
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 8px;
  padding-right: 5px;

}

