@import '../theme';

.div-box { //stlye for the "mother div" of the create page
  overflow: hidden;
  bottom: 0;
  height: calc(100vh);
  font-size: 100%;

  .div-container {
    margin: auto;
    margin-right: 20vh;
    width: 65%;
    overflow: hidden;
  }  
}

.lobby-div { //stlye for the "mother div" of the create page
  overflow: hidden;
  width: 100%;
  bottom: 0;
  height: calc(99vh);

}

.div-players {
  display: block;
  flex-direction: column;
  background-color: #620606;
  color: $textColor;
  border-radius: 2em;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: auto; //Necessary to put container in middle
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 8px;
  padding-right: 5px;
  overflow-y: scroll;
  max-height: 400px;
}
