//class to stlye images on the website (mainly cards)
.background-img {
  height: calc(100vh);
  background-image: url("../../img/card-deck.png");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position-x: calc(0vw);
  background-position-y: calc(0vh);
  bottom: 0;
  overflow: hidden;
  opacity: 0.65;
}
