//class to stlye images on the website (mainly cards)

.background-img {
  overflow: hidden;
  height: calc(100vh);
  background-image: url("../../img/card-deck.png" );
  background-repeat: no-repeat;
  // width:auto,  height: 90% of the container
  background-size: auto 90%;
  background-position-x: Min(-250px, calc(100vw - 1820px));
  background-position-y: -50px;
  bottom: 0;
  opacity: 1.0;
  z-index: -2;
}
