//class to stlye images on the website (mainly cards)


.background-img{
  height: calc(100vh);
  background-image: url("https://cdn.pixabay.com/photo/2017/10/12/10/17/jass-cards-2844130_960_720.png" );
  background-repeat: no-repeat;
  // width:auto,  height: 90% of the container
  background-size: auto 90%;
  background-position-x: Min(100px, calc(100vw - 1820px));
  background-position-y: 100px;
  bottom: 0;
  overflow: hidden;
  opacity: 0.6;
  z-index: -2;
  //Die rotation hat es irgendwie nicht gern:
  //transform: rotate(-35deg);

}

.table-background{
  height: 100%;
  background-image:url('../../img/icons/table-game.png');
  background-repeat: no-repeat;
  // width:auto,  height: 90% of the container
  background-size: 110% 110%;
  background-position-x: -200px;
  background-position-y: -350px;
  bottom: 0;
  z-index: -20;
}