@import 'src/styles/theme';

.announcement-modal {

  background: rgba(0,0,0,0.5);

  .second-row {
    height: 100%;
    padding: 10px;
  }

  .base-container {
    min-width: 100%;
    min-height: 90%;
    display: flex;
    padding: 0;
    .content {
      flex-grow: 1;
      margin: 10px 10px;
      display: flex;
      background-color: #620606;
      padding: 10px 10px 20px 10px;
      border-radius: $borderRadius;
    }
    h1 {
      margin: 0;
      font-family: 'Pacifico', cursive;
      font-style: normal;
    }
  }

  .cards-and-buttons {
    flex-grow: 1;
    min-width: 90%;

    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 65px;
    background-color: #971c1c;
    border-radius: $borderRadius;
  }

  .cards {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    >div {
      flex-grow: 1;
    }

    .card-component {
      pointer-events: none;
    }

    .card-component :is(div.img-div, img) {
      width: 105%;
    }
  }

  .announce-buttons {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-start;
    column-gap: 30px;
    row-gap: 30px;

    >button {
      flex-grow: 1;
      --length: 50px;
      min-height: var(--length);
      max-height: var(--length);
      min-width: var(--length);
      max-width: var(--length);

      font-size: 25pt;
      background-color: #620606;
      font-family: 'Pacifico', cursive;
      font-style: normal;
      padding-top: 0;
    }

  }

  .announced-score-list {
    ul {
      min-height: 75%;
      list-style: none;
      background-color: #971c1c;
      border-radius: $borderRadius;
      width: 90%;
      padding: 5px 5px;
    }

    li {
      background-color: #b96262;
      height: 40px;
      font-size: 20pt;
      border-radius: $borderRadius;
      padding: 3px $borderRadius;
      margin: 3px 0;
      display: flex;
    }

    li.own-participation {
      background-color: #7f6b55;
    }

    .configured-avatar {
      margin-right: 10px;
    }

    .chip {
      margin-left: 10px;
      font-size: 12pt;
      height: 75%;
      background-image: linear-gradient(94deg, rgba(4,133,203,1) 0%, rgba(60,171,240,0.7) 62%, rgba(22,174,205,0.5) 100%);
      align-self: center;

      span {
        border-radius: $borderRadius;
        padding: 0 $borderRadius;
      }
    }

    .announced-score {
      margin-left: auto;

      padding: 0 $borderRadius;
      background-color: #620606;
      border-radius: $borderRadius;
      min-width: 20px;
      height: 100%;
    }
  }
}
