@import '../../../../../styles/theme';

.your-hand {
  margin: 15px;
  align-self: center;
  display: inline-block;
  padding: 0 5px 5px 35px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
