.game-box {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #FBF7F7;
  color: darkgrey;
  border-color: #8E0202;
  border-Radius: 1em;
  text-Align: center;
  font-Size: 0.875rem;
  font-Weight: 700;
}