@import "src/styles/theme";

.lobby-rooms {
  text-align: center;
  font-size: 20px;
  height: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: auto;
  overflow: hidden;
  background: red;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-right: $borderRadius;
}