@import '../../../../../styles/theme';

.game-table {
  height: 60vh;
  width: 100%;
  background-image:url('../../../../../img/icons/table-game.png');
  background-repeat: no-repeat;
  background-size: 110% 150%;
  background-position-x: -5vw;
  background-position-y: -30vh;
  bottom: 0;
  z-index: -20;
  overflow: hidden;

  .card-table {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 5px;
    color: $textColor;
    border-radius: 2em;
    opacity: 0.9;
    z-index: 100;
    position: absolute;
    bottom: 15vh;
    left: 41vw;
    height: 30vh;
    width: 35vw;

    .card-component {
      background-color: #ff82ab;
    }
  }

  .player {
    width: 10em;
    height: 10em;
    position: absolute;
  }

  .player-2 {
    right: 3vw;
    bottom: 35vh;
  }

  .player-3 {
    right: 20vw;
    bottom: 50vh;
  }

  .player-4 {
    left: 50vw;
    bottom: 49vh;
  }

  .player-5 {
    left: 20vw;
    bottom: 48vh;
  }
}
