@import '../../../../../styles/theme';

.game-table {
  height: 100%;
  width: 100%;
  background-image:url('../../../../../img/icons/table-game.png');
  background-repeat: no-repeat;
  background-size: 110% 150%;
  background-position-x: -5vw;
  background-position-y: -30vh;
  bottom: 0;
  z-index: -20;
  overflow: hidden;

  .game.wrapper-for-absolute {
    height: 100%;
    position: relative;
  }

  .stacked-indicator {
    position: absolute;
    bottom: 51%;
    left: 65%;

    .MuiAlert-icon {
      padding: 2px 0;
    }

    .MuiAlert-message {
      padding: 3px 0;
    }
  }

  .card-table {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 5px;
    color: $textColor;
    border-radius: 2em;
    z-index: 100;
    position: absolute;
    bottom: 30%;
    left: 65%;
    height: 20%;
    width: 30%;

    .card-component {
      width: 10%;

      :is(div.img-div, img) {
        width: 150%;
      }
    }
  }

  .player {
    width: 10em;
    height: 10em;
    position: absolute;
  }

  .player-2 {
    right: 0;
    bottom: 40%;
  }

  .player-3 {
    right: 12%;
    top: 0;
  }

  .player-4 {
    left: 40%;
    top: 5%;
  }

  .player-5 {
    left: 5%;
    top: 6%;
  }
}
