@import 'src/styles/theme';

.player-hand {
  .content {
    position: relative;
  }

  .opponent {
    position: relative;

    .configured-avatar {
      position: absolute;
      top: 22.5%;
      left: 52%;
    }

    .number-of-won-tricks > span {
      top: 18%;
      left: 55%;
      right: unset;
    }
  }

  .cards {
    position: absolute;
    bottom: 20%;
    left: 40%;
    width: 100%;
    height: 20%;


    .animated-card {
      margin: -10px;
      align-self: center;
      display: inline-block;
      height: 30%;
      width: 20%;

      .card-component :is(div.img-div, img) {
        width: 50%;
      }
    }

    .animated-card:first-child {
      margin-left: 0;
    }
  }
}
