@import 'src/styles/theme';

.player-hand {
  .content {
    position: relative;
  }

  .opponent {
    position: relative;

    .configured-avatar {
      position: absolute;
      top: 22.5%;
      left: 52%;
    }
  }

  .cards {
    position: absolute;
    bottom: 10%;
    left: 40%;
    width: 100%;


    .animated-card {
      margin: -10px;
      align-self: center;
      display: inline-block;
      height: 30%;
      width: 20%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .animated-card:first-child {
      margin-left: 0;
    }
  }
}
