@import 'src/styles/theme';


.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 8px;
  color: $textColor;
  border-radius: 2em;
  overflow-y: hidden;

  .top-row {
    min-height: 10em;
    padding: 1em;
  }
  .second-row {
    height: 65vh;
  }

  .your-hand {
    position: absolute;
    left: 3vw;
    bottom: 12vh;
    height: 30vh;
    width: 35vw;
  }

  .score-announcing {
    position: absolute;
    right: 3vw;
    bottom: 13vh;
    width: 30vw;
  }
}
