@import 'src/styles/theme';


.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 8px;
  color: $textColor;
  border-radius: 2em;
  overflow-y: hidden;

  .base-container {
    margin: 5px auto;
    height: 95%;
  }

  .top-row {
    height: 40%;
    padding: 1em;
  }
  .second-row {
    height: 60%;
    z-index: 10;
  }

  .game.wrapper-for-absolute {
    height: 100%;
    position: relative;
  }

  .your-hand {
    position: absolute;
    left: 5%;
    bottom: -180px;
    height: 320px;
    width: 670px;
  }

  .score-announcing {
    position: absolute;
    right: 3%;
    bottom: 3%;
    width: 30%;
    margin-bottom: 15px;
  }
}
