@import 'src/styles/theme';


.gameSummary-box{
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.gameSummary-button-box{
  display: flex;
  justify-content: space-evenly;
  background-color: #610607;
  border-color: #8e0202;
  border-radius: 2em;
  padding: 5px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}
.gameSummary-buttons{
  width: auto;
  background-color: white;
  border-radius: 2em;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;


}
.trophy-loss
{
  -webkit-filter: drop-shadow(0 0 100px rgb(237, 211, 83,0.6));
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}
.trophy-win
{
  -webkit-filter: drop-shadow(0 0 100px rgb(237, 211, 83,0.6));
  margin-left: auto;
  margin-right: auto;
  max-width: 120px;
}

.gameSummary-individual-playerlist{
  width: 50%;
  text-align: center;
  margin: 0.5em;
  border-radius: 2em;
}