@import "src/styles/theme";

.winners-podium {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  .base-container {
    width: 80%;
    height: 100%;

    .content {
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-style: normal;
  }

  ol {
    min-height: 70%;
    background-color: #971c1c;
    border-radius: $borderRadius;
    width: available;
    padding: 30px 100px;

  }
  li {
    background-color: #b96262;
    height: 40px;
    font-size: 20pt;
    border-radius: $borderRadius;
    padding: 3px 0;
    margin: 3px 0;
  }

  .player-name {
    margin-left: $borderRadius;
  }

  .points {
    float: right;
    margin-right: $borderRadius;
  }

}
