.color-buttons {
  text-align: center;
  z-index: 10;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  border-radius: 15%;
  align-items: center;
  margin-top: 5%;
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #e8e8e8;
  }

}
.bucolor-lightblue{
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a);
  box-shadow: 0 4px 5px 0 rgba(49, 196, 190, 0.5);
  &:disabled{
    background-image: linear-gradient(to right,rgba(100,100,100,.5), rgba(100,100,105,.5));
    box-shadow: none
  }
}
.bucolor-darkblue{
  background-image: linear-gradient(to right, #0a0f96,  #0a74c2, #163a8e);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.bucolor-green{
  background-image: linear-gradient(to right, #4e9c8a, #62c07f, #02a388);
  box-shadow: 0 4px 15px 0 #00bfb2;
  &:disabled{
    background-image: linear-gradient(to right,rgba(100,100,100,.5), rgba(100,100,105,.5));
    box-shadow: none
  }
}