.videochat {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .video-container {
    height: 100%;
    width: 100%;
    animation-name: slidein;
    animation-duration: 2.5s;
    //animation-fill-mode: forwards;
  }
}

.videochat.inactive {
  background-color: #620606;
  border-radius: 2em;
  height: 30%;
  width: 30%;

}
