@import 'src/styles/theme';

/*
* More information about flexbox under https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-properties 
*/
.base-container {
  margin: 20px auto;
  padding: 0 2em;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 8px 8px;
    color: $textColor;
    background-color: #620606;
    border-radius: 2em;
    overflow-y: hidden;
  }
}
