.card-component {
  cursor: pointer;
  width: 106px;
  height: 163px;
  background-color: #006666;
  color: #E8E8E8;
  //fontSize: 25px; - Why does sonar cloud not like this? lol
  margin: 5px;
  float: left;
  text-align: center;
  z-index: 9999; 
	&:hover{
    transition: all 0.2s;
}}